#logo {
  position: fixed;
  top: 0;
  left: 0;
  size: 40px;
}

h4 {
  text-align: center;
  color: white;
  margin: 2px, 0;
}

#home {
  background-color: #006666;
  height: 60px;
}

.login {
  margin: 120px, 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav {
  margin-top: 0px;
  display: flex;
}

a:hover {
  color: black;
}

.route {
  font-size: 20px;
  color: white;
}
