<nav class="navbar navbar-inverse" id="nav">
  <div class="container-fluid" id="fluid">
    <div class="navbar-header"></div>
    <ul class="nav navbar-nav">
      <li
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="">Home</a>
      </li>
      <li [routerLinkActive]="'active'">
        <a routerLink = "/Find">Find/Create Patient</a>
      </li>
      <!-- <li [routerLinkActive]="'active'">
        <a [routerLink]="'PatientInfo'">PatientInfo</a>
      </li> -->
      <li [routerLinkActive]="'active'">
        <a routerLink="/Cohort">Cohort Builder</a>
      </li>
      <li [routerLinkActive]="'active'">
        <a routerLink="/Administration">Administration</a>
      </li>
      <!-- <li class="nav-item" style="float: right" id="logoutLblPos">
        <a
          class="nav-link p-3"
          href=""
          style="background-color: black"
          (click)="isLoggedOut()"
          >Logout</a
        >
      </li> -->
    </ul>
  </div>
</nav>
