<header>
  <!-- <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Patient Search</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clinical Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
          >More</a
        >
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">lab Order Search</a></li>
          <li><a class="dropdown-item" href="#">Patient Analytics</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </nav> -->
</header>

<div>
  <div>
    <h3>Patient Information</h3>
    <hr />
    <div>
      <h4>Demographics</h4>
    </div>
    <table
      class="table table-striped"
      *ngFor="let patient of result | slice: 0:1"
    >
      <tbody [result]="results">
        <tr>
          <td><strong>Name:</strong>{{ patient.person.display }}</td>
          <td><strong>Deceased:</strong>{{ patient.person.dead }}</td>
        </tr>
        <tr>
          <td><strong>Gender:</strong>{{ patient.person.gender }}</td>
          <td>
            <strong>Cause of Death:</strong>{{ patient.person.causeOfDeath }}
          </td>
        </tr>
        <tr>
          <td><strong>DOB:</strong>{{ patient.person.birthdate }}</td>
          <td><strong>Death Date:</strong>{{ patient.person.deathDate }}</td>
        </tr>
        <tr>
          <td><strong>Age:</strong>{{ patient.person.age }}</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Contacts</h4>
    </div>
    <table
      class="table table-striped"
      *ngFor="let patient of result | slice: 0:1"
    >
      <tbody>
        <tr>
          <td><strong>Phone Number:</strong></td>
          <td><strong>Alternative Phone Number:</strong></td>
        </tr>
        <tr>
          <td><strong>Spouse Phone Number:</strong></td>
          <td><strong>Next of Kin Phone Number:</strong></td>
        </tr>
        <tr>
          <td><strong>Caregiver Name:</strong></td>
          <td><strong>Relationship to Caregiver:</strong></td>
          <td><strong>Caregiver Phone Number:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Occupation</h4>
    </div>
    <table
      class="table table-striped"
      *ngFor="let patient of result | slice: 0:1"
    >
      <tbody>
        <tr>
          <td><strong>Occupation:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Highest Educational Level</h4>
    </div>
    <table
      class="table table-striped"
      *ngFor="let patient of result | slice: 0:1"
    >
      <tbody>
        <tr>
          <td><strong>Highest Educational Level:</strong></td>
        </tr>
      </tbody>
      <hr />
      <div>
        <h4>Highest Educational Level</h4>
      </div>
    </table>
    <hr />
    <div>
      <h4>Address</h4>
    </div>
    <table
      class="table table-striped"
      *ngFor="let patient of result | slice: 0:1"
    >
      <tbody>
        <tr *ngFor="let address of patient.preferredAddress | slice: 0:1">
          <td><strong>County:</strong>{{ address.display }}</td>
          <td><strong>Subcounty:</strong></td>
        </tr>
        <tr>
          <td><strong>Estate/Nearest Center:</strong></td>
          <td><strong>City:</strong></td>
        </tr>
        <tr>
          <td><strong>Latitude:</strong></td>
          <td><strong>Longitude:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Identifiers</h4>
    </div>
    <table
      class="table table-striped"
      *ngFor="let patient of result | slice: 0:1"
    >
      <tbody>
        <tr *ngFor="let identifier of patient.identifiers | slice: 0:5">
          <td>{{ identifier.display }}</td>
          <td><strong>Location:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Relationships</h4>
    </div>
    <table
      class="table table-striped"
      *ngFor="let patient of result | slice: 0:1"
    >
      <thead>
        <tr>
          <th scope="col">Relationship</th>
          <th scope="col">Person Name</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
