<header>
  <!-- <nav>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Patient Search</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clinical Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
          >More</a
        >
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">lab Order Search</a></li>
          <li><a class="dropdown-item" href="#">Patient Analytics</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </nav> -->
</header>

<div>
  <div>
    <h3>Patient Information</h3>
    <hr />
    <div>
      <h4>Demographics</h4>
    </div>
    <table class="table table-striped">
      <tbody>

        <tr>
          <td><strong>Name:</strong></td>
          <td><strong>Deceased:</strong></td>
        </tr>
        <tr>
          <td><strong>Gender:</strong></td>
          <td><strong>Cause of Death:</strong></td>
        </tr>
        <tr>
          <td><strong>DOB:</strong></td>
          <td><strong>Death Date:</strong></td>
        </tr>
        <tr>
          <td><strong>Age:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Contacts</h4>
    </div>
    <table class="table table-striped">

      <tbody>
       
        <tr>
          <td><strong>Phone Number:</strong></td>
          <td><strong>Alternative Phone Number:</strong></td>
        </tr>
        <tr>
          <td><strong>Spouse Phone Number:</strong></td>
          <td><strong>Next of Kin Phone Number:</strong></td>
        </tr>
        <tr>
          <td><strong>Caregiver Name:</strong></td>
          <td><strong>Relationship to Caregiver:</strong></td>
          <td><strong>Caregiver Phone Number:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Occupation</h4>
    </div>
    <table class="table table-striped">
        
      <tbody>
       
        <tr>
          <td><strong>Occupation:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Highest Educational Level</h4>
    </div>
    <table class="table table-striped">
      <tbody>
  
        <tr>
          <td><strong>Highest Educational Level:</strong></td>
        </tr>
      </tbody>
      <hr />
      <div>
        <h4>Highest Educational Level</h4>
      </div>
    </table>
    <hr />
    <div>
      <h4>Address</h4>
    </div>
    <table class="table table-striped">
      <tbody>
     
        <tr>
          <td><strong>County:</strong></td>
          <td><strong>Subcounty:</strong></td>
        </tr>
        <tr>
          <td><strong>Estate/Nearest Center:</strong></td>
          <td><strong>City:</strong></td>
        </tr>
        <tr>
          <td><strong>Latitude:</strong></td>
          <td><strong>Longitude:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div>
      <h4>Identifiers</h4>
    </div>
    <table class="table table-striped">
      <tbody>
      
        <tr>
          <td><strong>CCC Number:</strong></td>
          <td><strong>Location:</strong></td>
        </tr>
        <tr>
          <td><strong>AMRS Medical Record Number:</strong></td>
          <td><strong>Location:</strong></td>
        </tr>
        <tr>
          <td><strong>AMRS Universal ID:</strong></td>
          <td><strong>Location:</strong></td>
        </tr>
        <tr>
          <td><strong>Kenya National ID Number:</strong></td>
          <td><strong>Location:</strong></td>
        </tr>
        <tr>
          <td><strong>UPI Number:</strong></td>
          <td><strong>Location:</strong></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div>
      <h4>Relationships</h4>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Relationship</th>
              <th scope="col">Person Name</th>
            </tr>
          </thead>
      <tbody>
    
      </tbody>
    </table>
  </div>
</div>
